---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404 | o3o.team">
	<section class="hero">
		<h1>404</h1>
		<p>Page not found.</p>
		<p class="hero-links">
			<a class="button" href="/">Go home</a>
			<a class="button secondary" href="/blog">Read the blog</a>
		</p>
	</section>
</Layout>
